## Programming Assignment_2
-------------

### 1. Write a Python program to convert kilometers to miles?

In [2]:
km = float(input("Enter kilometres"))
print(km,"in miles = ",0.621371*km)

Enter kilometres 253.63

253.63 in miles =  157.59832673

### 2.Write a Python program to convert Celsius to Fahrenheit?

In [5]:
C = float(input("Enter Celsius"))
print(C,"in Fahrenheit = ", (C * 9/5) + 32)

Enter Celsius 26.53

26.53 in Fahrenheit =  79.754

### 3. Write a Python program to display calendar?

In [19]:
import calendar

year = 2022

print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### 4. Write a Python program to solve quadratic equation?

In [14]:
print("ax^2+bx+c")
a = float(input("Enter values of a\n"))
b = float(input("Enter values of b\n"))
c = float(input("Enter values of c\n"))

solution1 =(-b+(b**2-(4*a*c))**0.5)/2*a
solution2 =(-b-(b**2-(4*a*c))**0.5)/2*a

print("Solution =",solution1,"and",solution2)

ax^2+bx+c

Enter values of a
 1
Enter values of b
 4
Enter values of c
 4

Solution = -2.0 and -2.0

### 5. Write a Python program to swap two variables without temp variable?

In [ ]:
a = float(input("Enter 1st Number a"))
b = float(input("Enter 2nd Number b"))

(a,b) = (b,a)

print("a =",a,"b =",b)